[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/ssegal/dot-emacs.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "antidote"]
	path = antidote
	url = https://github.com/mattmc3/antidote.git
